@use "../../../scss/index.scss" as *;

$form-background-color: lighten-2($color-dodger-blue);
$button-background-color: $color-yellow-munsell;
$form-text-color: $color-white;
$button-text-color: darken-4($color-yellow-munsell);
$button-border-color: darken-4($color-yellow-munsell);

.date-selector {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: $space-3;

  &__form {
    grid-column: 3 / span 8;
    background-color: $form-background-color;
    border-radius: $space-2;
    padding: $space-2;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__form-title {
    @extend %h3-sans;

    color: $form-text-color;
    font-weight: $font-weight-bold;
    margin-bottom: $space-1;
  }

  &__input-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: $space-1;
    margin-top: $space-1;
    align-items: center;
  }

  &__label {
    @extend %body18-sans;

    text-align: right;
    color: $form-text-color;
    font-weight: $font-weight-bold;
    grid-column: 2 / 4;
  }

  &__input {
    grid-column: 4 / 5;
  }

  &__submit-button {
    @extend %h4-sans;

    color: $button-text-color;
    font-weight: $font-weight-bold;
    margin-top: $space-2;
    background-color: $button-background-color;
    border-radius: $space-1;
    padding: 0 $space-2;
    border: none;
    box-shadow: 2px 2px 3px 0px transparentize($color-black, 0.5);
    transition: background-color 0.25s linear;
    cursor: pointer;

    &:hover {
      background-color: darken-1($button-background-color);
    }

    &:active {
      background-color: lighten-1($button-background-color);
    }
  }
}
