@use "../../../scss/index.scss" as *;

$card-background-color: lighten-2($color-prussian-blue);
$card-text-color: $color-white;
$scroll-bar-handle-color: $color-prussian-blue;
$scroll-bar-handle-hover-color: lighten-1($color-prussian-blue);

.apod-card {
  background-color: $card-background-color;
  grid-column: span 4;
  border-radius: $space-2;
  padding: $space-2;
  max-height: $space-6 * 8;
  display: flex;
  flex-direction: column;

  &__title {
    @extend %h4-sans;

    color: $card-text-color;
    font-style: italic;
  }

  &__date {
    @extend %body18-sans;

    color: $card-text-color;
    margin-top: $space-1;
  }

  &__image {
    width: 100%;
    max-height: $space-6 * 5;
    border-radius: $space-1;
    margin-top: $space-2;
  }

  &__video {
    width: 100%;
    height: $space-6 * 4;
    border-radius: $space-1;
    margin-top: $space-2;
  }

  &__description {
    @extend %body18-sans;

    color: $card-text-color;
    margin-top: $space-2;
    overflow-y: scroll;
    padding-right: $space-1;

    &::-webkit-scrollbar {
      width: $space-2;
      background: $card-background-color;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $scroll-bar-handle-color;
      border-radius: $space-1;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $scroll-bar-handle-hover-color;
    }
  }
}
