// Base colors.
$color-prussian-blue: #12304a;
$color-russian-violet: #32044d;
$color-dodger-blue: #3190f5;
$color-vivid-violet: #9918f5;
$color-yellow-munsell: #f5d324;

// Neutral.
$color-white: #ffffff;
$color-gray: #888888;
$color-black: #000000;

// For lightnen and darken functions.
$color-adjust-1: 12.5%;
$color-adjust-2: 25%;
$color-adjust-3: 37.5%;
$color-adjust-4: 50%;
$color-adjust-5: 62.5%;
$color-adjust-6: 75%;
$color-adjust-7: 87.5%;

@function lighten-1($color) {
  @return scale-color($color, $lightness: $color-adjust-1);
}

@function lighten-2($color) {
  @return scale-color($color, $lightness: $color-adjust-2);
}

@function lighten-3($color) {
  @return scale-color($color, $lightness: $color-adjust-3);
}

@function lighten-4($color) {
  @return scale-color($color, $lightness: $color-adjust-4);
}

@function lighten-5($color) {
  @return scale-color($color, $lightness: $color-adjust-5);
}

@function lighten-6($color) {
  @return scale-color($color, $lightness: $color-adjust-6);
}

@function lighten-7($color) {
  @return scale-color($color, $lightness: $color-adjust-7);
}

@function darken-1($color) {
  @return scale-color($color, $lightness: $color-adjust-1 * -1);
}

@function darken-2($color) {
  @return scale-color($color, $lightness: $color-adjust-2 * -1);
}

@function darken-3($color) {
  @return scale-color($color, $lightness: $color-adjust-3 * -1);
}

@function darken-4($color) {
  @return scale-color($color, $lightness: $color-adjust-4 * -1);
}

@function darken-5($color) {
  @return scale-color($color, $lightness: $color-adjust-5 * -1);
}

@function darken-6($color) {
  @return scale-color($color, $lightness: $color-adjust-6 * -1);
}

@function darken-7($color) {
  @return scale-color($color, $lightness: $color-adjust-7 * -1);
}
